.env
bot/__pycache__
bot/handlers/__pycache__
bot/misc/__pycache__
bot/services/__pycache__
ansible.cfg
inventory.ini
playbook.yml
.vscode
src/__pycache__
src/migrations/__pycache__
src/migrations/versions/__pycache__
src/db/__pycache__